<div>
  <div class="flex gap-2 items-end">
    <h3 class="text-xl font-bold">Day {{ date().getDate() }}</h3>
    <p class="">Earned: {{ incomesAmount() | currency: 'GBP' }}</p>
    <p class="">Spent: {{ transactionsAmount() | currency: 'GBP' }}</p>
  </div>

  <div>
    
  <div class="mt-4 font-bold">Transactions</div>
  <app-payments-list [payments]="transactions()" (onDeleteRow)="deleteTransaction($event)" (onCreatePayment)="createTransaction($event)" type="transaction" />

  <div class="mt-4 font-bold">Pending Income</div>
  <app-payments-list [payments]="incomes()" (onDeleteRow)="deleteIncome($event)" (onCreatePayment)="createIncome($event)" type="income" />
</div>
