<div>
  <div class="flex justify-center gap-6 px-4">
    <app-money-card class="flex-1" label="Balance" [value]="income() - expenses()" />
    <app-money-card class="flex-1" label="Spent" [value]="-expenses()" />
    <app-money-card class="flex-1" label="Income earned" [value]="pendingIncome()" />
    <app-money-card class="flex-1" label="Budget" [value]="0" />
    <app-money-card class="flex-1" label="Net worth" [value]="netWorth()" />
  </div>
</div>

<div class="m-4 flex bg-mist-900 px-6 py-8 rounded-2xl gap-4">
  <div class="flex-1 bg-orange-500 rounded-2xl p-4">
    @if (selectedDay) {
      <app-receipt-modal [date]=calendarService.getDate() [transactions]="getDayTransactions(selectedDay)" [incomes]="getDayIncomes(selectedDay)" (updateIncomes)="getPendingIncomes()", (updateTransactions)="getMonthTransactions()" />
    }
  </div>
  <div class="flex-1 bg-gray-100 p-4 rounded-2xl">
    <div class="flex justify-center gap-8">
      <div (click)="incrementMonth(-1)" class="text-2xl font-bold cursor-pointer"><</div>
      <p class="text-2xl font-bold">{{ month.text + " " + calendarService.getDate().getFullYear() }}</p>
      <div (click)="incrementMonth(+1)" class="text-2xl font-bold cursor-pointer">></div>
    </div>
    <div class="w-full mt-4">
      <table class="w-full table-fixed border-separate border-spacing-2">
        <tr>
          @for (wd of ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']; track $index) {
            <th>{{ wd }}</th>
          }
        </tr>
        @for (row of days; track $index) {
          <tr>
            @for (d of row; track d) {
              @if (d > 0) {
                <td class="px-4 py-3 rounded-md text-sm cursor-pointer" [ngClass]="selectedDay == d ? 'bg-orange-200 text-black' : isRealCurrentMonth() && getRealCurrentDay() == d ? 'bg-gray-300 text-black' : 'bg-mist-800 text-white'" (click)="viewDay(d)">
                  <div>
                    <p class="font-bold">{{ d }}</p>
                    <!-- <p>{{ getDayTransactions(d).length }} transaction{{ getDayTransactions(d).length == 1 ? "" : "s"  }}</p> -->
                  </div>
                  <div class="min-h-10">
                    @if (getDayTransactions(d).reduce((acc, v) => acc + v.amount, 0)) { <p class="text-red-700 ">-{{ getDayTransactions(d).reduce((acc, v) => acc + v.amount, 0) | number:'1.2-2' }}</p> }
                    @if (getDayIncomes(d).reduce((acc, v) => acc + v.amount, 0)) { <p class="text-green-700">+{{ getDayIncomes(d).reduce((acc, v) => acc + v.amount, 0) | number:'1.2-2' }}</p> }
                  </div>
                </td>
              } @else { <td></td> }
            }
          </tr>
        }
      </table>
    </div>
  </div>
</div>

<div class="p-4">
  <div class="flex w-full border">
    <div class="flex-1">
      <app-payments-list [payments]="transactions()" showDate (onCreatePayment)="createIncome($event)" type="transaction" />
    </div>
    <div class="flex-1">
      <app-payments-list [payments]="pendingIncomes()" showDate (onCreatePayment)="createIncome($event)" type="income" />
    </div>
  </div>
</div>
