<div>
  <div>Transactions</div>
  <app-payments-list [payments]="transactions()" showDate (onCreatePayment)="createTransaction($event)" type="transaction" />
</div>

<div>
  <form [formGroup]="catForm" (ngSubmit)="getTransactionsByCategory()">
    <div>
      <label for="category_id">Category</label>
      <select
        id="category_id"
        type="text"
        formControlName="category_id"
        placeholder="Enter a category"
      >
        @for (cat of categories(); track $index) {
          <option [value]="cat._id" >{{ cat.name }}</option>
        }
      </select>
    </div>

    <button type="submit" [disabled]="catForm.invalid">Submit</button>

  </form>
</div>

<div>
  <br>
  <div>Filtered Transactions</div>
  <app-payments-list [payments]="filteredTransactions()" showDate type="transaction" />
</div>

<div>
  <br>
  <p>Budgets:</p>
  <table>
    <tr>
      <th class="p-2">Name</th>
      <th class="p-2">Category</th>
      <th class="p-2">Amount</th>
      <th class="p-2">Start Date</th>
      <th class="p-2">End Date</th>
    </tr>
    @for (b of budgets(); track $index) {
      <tr>
        <td class="p-2">{{ b.name }}</td>
        <td class="p-2">{{ categories().find(v => v._id == b.category_id)?.name }}</td>
        <td class="p-2">£{{ b.amount }}</td>
        <td class="p-2">{{ b.start_date | date}}</td>
        <td class="p-2">{{ b.end_date | date}}</td>
      </tr>
    }
  </table>
</div>
