<div>
  <form [formGroup]="form" (ngSubmit)="addTransaction()">

    <div>
      <label for="label">Label</label>
      <input
        id="label"
        type="text"
        formControlName="label"
        placeholder="Enter a label"
      />
    </div>

    <div>
      <label for="category">Category</label>
      <select
        id="category"
        type="text"
        formControlName="category"
        placeholder="Enter a category"

      >
        @for (cat of categories(); track $index) {
          <option [value]="cat._id" >{{ cat.name }}</option>
        }
      </select>
    </div>

    <div>
      <label for="amount">Amount</label>
      <input
        id="amount"
        type="number"
        formControlName="amount"
        min="0"
        placeholder="0.00"
      />
    </div>

    <div>
      <label for="payment_date">Payment Date</label>
      <input
        id="payment_date"
        type="date"
        formControlName="payment_date"
        [value]="form.get('payment_date')?.value | date:'yyyy-MM-dd'"
      />
    </div>

    <button type="submit" [disabled]="form.invalid">Submit</button>

  </form>
</div>

<div>
  <br>
  <div>Transactions</div>
  <app-payments-list [payments]="transactions()" showDate />
</div>

<div>
  <form [formGroup]="catForm" (ngSubmit)="getTransactionsByCategory()">
    <div>
      <label for="category_id">Category</label>
      <select
        id="category_id"
        type="text"
        formControlName="category_id"
        placeholder="Enter a category"
      >
        @for (cat of categories(); track $index) {
          <option [value]="cat._id" >{{ cat.name }}</option>
        }
      </select>
    </div>

    <button type="submit">Submit</button>

  </form>
</div>

<div>
  <br>
  <div>Filtered Transactions</div>
  <app-payments-list [payments]="filteredTransactions()" showDate />
</div>

<div>
  <br>
  <p>Budgets:</p>
  <table>
    <tr>
      <th class="p-2">Name</th>
      <th class="p-2">Category</th>
      <th class="p-2">Amount</th>
      <th class="p-2">Start Date</th>
      <th class="p-2">End Date</th>
    </tr>
    @for (b of budgets(); track $index) {
      <tr>
        <td class="p-2">{{ b.name }}</td>
        <td class="p-2">{{ categories().find(v => v._id == b.category_id)?.name }}</td>
        <td class="p-2">£{{ b.amount }}</td>
        <td class="p-2">{{ b.start_date | date}}</td>
        <td class="p-2">{{ b.end_date | date}}</td>
      </tr>
    }
  </table>
</div>
